body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00B7FF;
}

.fileName {
  margin-right: 0.5rem;
}

.listFile {
  margin-top: 1rem;
}

.listFile img {
  margin-right: 1rem;
}
